<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/bani_favicon.png" />
		<meta name="generator" content={Astro.generator} />


		<title>Bani Bakery | Custom Cakes & Pastries in Orange County</title>
		<link rel="canonical" href="https://banibakery.com/">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://banibakery.com/">
		<meta property="og:title" content="Bani Bakery | Custom Cakes & Pastries in Orange County">
		<meta property="og:description" content="Bani Bakery in Huntington Beach, CA creates custom cakes, wedding cakes, and pastries with premium ingredients. Serving all of Orange County & LA." >

		<meta name="description" content="Bani Bakery in Huntington Beach, CA creates custom cakes, wedding cakes, and pastries with premium ingredients. Serving all of Orange County & LA." >
		<meta name="keywords" content="bakery, custom cakes, wedding cakes, birthday cakes, desserts, pastries, buttercream cakes, Orange County bakery, gourmet cookies, specialty cakes, smash cakes, sweet treats, handcrafted cakes, cake shop, local bakery, cupcakes">


		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Red+Hat+Display:wght@300..900&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
	</body>
</html>