---
	import Layout from '../layouts/Layout.astro';
	import Header from '../components/Header.astro';

	import HeroImage from '../assets/images/ceramic-painting-hero.png';
---

<Layout>
	<Header />

	<section class="hero">
        <div class="hero-content">

            <h1>Coming Soon</h1>
            <p>Offering ceramic painting weekly workshops and more</p>

        </div>

        <figure class="hero-image">
            <img class="pics" src={HeroImage.src} alt="Ceramic Painting">
		</figure>
    </section>
</Layout>

<style>
	
</style>