---
	import Layout from '../layouts/Layout.astro';
	import Header from '../components/Header.astro';
	import Contact from '../components/Contact.astro';
	import Footer from '../components/Footer.astro';

	import HeroImage from '../assets/images/ceramic-painting-hero.png';
	import Showcase01 from '../assets/images/showcase01.webp';
	import Showcase02 from '../assets/images/showcase02.webp';
	import Showcase03 from '../assets/images/showcase03.webp';
	import Showcase04 from '../assets/images/showcase04.webp';
---

<Layout>
	<Header />

	<section class="wrapper hero">
        <div class="hero-container">

			<div class="hero-text">
				<h1>Now Open</h1>
				<p>Offering ceramic painting, weekly workshops and more.</p>
			</div>

        </div>
    </section>

	<div class=" showcase-container section-padding">
		<figure>
			<img class="pics" src={Showcase01.src} alt="Child painting a ceramic piece">
		</figure>
		<figure>
			<img class="pics" src={Showcase02.src} alt="Child painting a ceramic piece">
		</figure>
		<figure>
			<img class="pics" src={Showcase03.src} alt="Child painting a ceramic piece">
		</figure>
		<figure>
			<img class="pics" src={Showcase04.src} alt="Child painting a ceramic piece">
		</figure>
	</div>

	<section id="about" class="wrapper">

		<h2>About</h2>
		<p class="about-p">Looking for a fun, creative thing to do? We welcome you to our art haus where we offer a relaxed, drop-in experience where kids, families, teens, and adults can paint and create at their own pace. There's no need for experience or reservations required. Bani's Art Haus is perfect for family outings, rainy-day activities, creative dates, and casual group get-togethers.</p>

	</section>

	<Contact />


	<Footer />
</Layout>

<style>
	.hero{
		height: 800px;
		background-image: url('../assets/images/ceramic-painting-hero.png');
		background-size: cover;
		background-position: right;
		background-repeat: no-repeat;
	}
	.hero-container h1{
		font-family: var(--secondary-font);
		font-size: 5rem;
		margin-bottom: 24px;
		font-weight: 400;
	}
	.hero-container p{
		max-width: 500px;
		font-size: 1.5rem;
		line-height: 1.45;
	}
	.hero-container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 50%;
		height: 100%;
	}

	.showcase-container{
		display: flex;
		justify-content: flex-start;
	}

	/* About Section */
	.about-p{
		margin-top: 2rem;
	}


</style>