---
	import Layout from '../layouts/Layout.astro';
	import Header from '../components/Header.astro';
---

<Layout>
	<Header />

	<section class="hero">
        <div class="hero-content">

            <h1>Coming Soon</h1>

            <p>
                Offering ceramic painting weekly workshops and more
            </p>

        </div>

        <figure class="hero-image">
            <img class="pics" src="images/hero-illustration.svg" alt="Ceramic Painting">
		</figure>
    </section>
</Layout>