---
	import Layout from '../layouts/Layout.astro';
	import Header from '../components/Header.astro';

	import HeroImage from '../assets/images/ceramic-painting-hero.png';
---

<Layout>
	<Header />

	<section class="wrapper hero">
        <div class="hero-container">

			<div class="hero-text">
				<h1>Coming Soon</h1>
				<p>Offering ceramic painting, weekly workshops and more.</p>
			</div>

        </div>
    </section>

</Layout>

<style>
	.hero{
		height: 800px;
		background-image: url('../assets/images/ceramic-painting-hero.png');
		background-size: cover;
		background-position: right;
		background-repeat: no-repeat;
	}
	.hero-container h1{
		font-family: var(--secondary-font);
		font-size: 5rem;
		margin-bottom: 24px;
	}
	.hero-container p{
		max-width: 500px;
		font-size: 1.5rem;
		line-height: 1.45;
	}
	.hero-container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 50%;
		height: 100%;
	}
</style>