<section id="contact" class="section-padding">
    <div class="wrapper contact-container">
        <h2>Contact</h2>
        <p style="text-align: center;">Have questions or would like to make any inquiries please contact us and we will do our best to get back to you quickly.</p>

        <div class="info-container">
            <div class="col col-one">
                <!-- <h3>Location Info</h3> -->
                <ul class="haus-info">
                    <li>
                        <h4>Email</h4>
                        <a href="mailto:banibakery@gmail.com" title="Email" aria-label="Email banibakery@gmail.com"> banibakery@gmail.com</a>
                    </li>
                    <li>
                        <h4>Phone</h4>
                        <a href="tel:7142495911" title="Phone number" aria-label="Phone number 7142495911">(714) 249 - 5911</a>
                    </li>
                    <li>
                        <h4>Address</h4>
                        <a href="https://goo.gl/maps/XsePsz1xZJ2xge2i8" title="Bani's Art Haus address link" aria-label="Google map link for Bani's Art Haus address 7561 Center Ave Suite 7 Huntington Beach, CA 92647" target="_blank">7561 Center Ave Suite 7<br/> Huntington Beach, CA 92647</a>
                    </li>
                    <li>
                        <h4>Store Hours</h4>
                        <ul class="infoSec-hours">
                            <li>
                                <span>Monday</span>
                                <span>CLOSED</span>
                            </li>
                            <li>
                                <span>Tue - Fri:</span>
                                <span>11am - 7pm</span>
                            </li>
                            <li>
                                <span>Sat - Sun:</span>
                                <span>10am - 7pm</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col col-two">
                <form action="https://formsubmit.co/banibakery@gmail.com" enctype="multipart/form-data" method="POST" id="contact-form">
					<input type="hidden" name="_template" value="table">
					<input type="text" name="_honey" style="display:none">
					<input type="hidden" id="subject" name="_subject" value="Contact form submission!">
					<input type="hidden" name="form-name" value="contact">

					<div class="formSimplify">
						<div>
							<label for="name">Full name:</label>
							<span id="name-errorMsg" class="form-error">Enter full name</span>
							<input type="text" id="name" name="name" placeholder="John Doe" required>
						</div>
						<div>
							<label for="phone">Phone:</label>
							<span id="phone-errorMsg" class="form-error">Enter phone number</span>
							<input id="phone" type="tel" name="phone" placeholder="123-321-0909" required>
						</div>
					</div>

					<div class="formSimplify">
						<div>
							<label for="email">Email:</label>
							<span id="email-errorMsg" class="form-error">Enter email</span>
							<input type="email" name="email" id="email" placeholder="youremail@email.com" required>
						</div>
						<div>
							<label for="emailConfirm">Confirm email:</label>
							<span id="emailConfirm-errorMsg" class="form-error"> Email does not match</span>
							<input type="email" name="emailConfirm" id="emailConfirm">
						</div>
					</div>

					<div>
						<label for="message">Message:</label>
						<textarea name="message"></textarea>
					</div>

					<button tabindex="0" class="submit-btn pink-cta" title="Submit" aria-label="Submit button for form" >SUBMIT</button>
					<input id="validation-complete" type="submit" value="submit" style="display: none;">
				</form>
            </div>
        </div>
    </div>
</section>

<style>
    h2{
        text-align: center;
        margin-bottom: 1.5rem;
    }
    h3{margin-bottom: 2rem;}
    h4{margin-bottom: 5px;}
    .info-container{
        margin-top: 6rem;
        display: flex;
        justify-content: space-evenly;
    }
    .info-container .col-one{
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info-container .col-two{width:50%;}
    .col-one ul li{
        list-style: none;
        margin-bottom: 1.5rem;
    }
    .col-one ul li a{color: var(--dark-plum);}
    .col-one ul li:last-child{margin-bottom: 0;}
    .infoSec-hours li{margin-bottom: 6px !important;}



    form{
		display: flex;
		flex-direction: column;
		gap: 1.25rem 0;
	}
    form label{font-weight: 500;}
	form label, form input, form textarea{
		width: 100%;
		display: block;
		color: var(--dark-plum);
	}
    form input, form textarea{
		font-size: 1.1rem;
		border: 0;
		background-color: var(--soft-gray);
	}
    form input:active, form textarea:active,
	form input:focus, form textarea:focus{
		background-color: #fff;
	}
	form input{
		padding: 0 5px;
		height: 2.75rem;
	}
	form textarea{
		height: 10rem;
		padding: 5px;
	}

    .formSimplify{
        min-width: 315px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
    .formSimplify div{width: 48%;}
	.form-error{display: none;}
	.submit-btn::after{content: 'SUBMIT';}

    @media screen and (max-width: 680px){
        .info-container{
            margin-top:3.75rem;
            flex-direction: column;
            justify-content: space-between;
        }
        .info-container .col{width: 100%;}
        .info-container .col-one{margin-bottom: 3rem;}
        .col-one .haus-info{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
	}

</style>