---
    import logo from '../assets/images/BanisArtHaus-logo-white_md.png';
---

<footer>
    <div class="footer-container wrapper">
        <a href="/" title="Bani's Art Haus logo" aria-label="Logo image, a link to homepage" class="footer-logo">
            <img loading="lazy" src={logo.src} alt="Bani's Art Haus logo" class="pics">
        </a>
        <div class="ftLinks">
            <div>
                <h4>Bani's Art Haus</h4>
                <ul>
                    <li><a href="/#about" title="About" aria-label="Link to about section">About</a></li>
                    <li><a href="/#services" title="Services link" aria-label="Link to services section">Services</a></li>
                    <li><a href="/#contact" title="Contact link" aria-label="Link to contact section">Contact</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <h4 class="social">Social</h4>
                <ul class="socialList">
                    <!-- <li>
                        <a href="https://www.facebook.com/banibakery/" title="Facebook" aria-label="Link to facebook page" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    </li> -->
                    <li>
                        <a href="https://www.instagram.com/banisarthaus/" title="Instagram" aria-label="Link to instagram page" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="business-info">
            <h4>Contact</h4>
            <ul>
                <li>
                    <a href="mailto:banisarthaus@gmail.com" title="Email" aria-label="Email banisarthaus@gmail.com"> banisarthaus@gmail.com</a>
                </li>
                <li>
                    <a href="tel:6572273739" title="Phone number" aria-label="Phone number 6572273739">(657) 227 - 3739</a>
                </li>
                <li>
                    <a href="https://goo.gl/maps/XsePsz1xZJ2xge2i8" title="Bani's Art Haus address link" aria-label="Google map link for Bani's Art Haus address 7561 Center Ave Suite 7 Huntington Beach, CA 92647" target="_blank">7561 Center Ave Suite 7<br/> Huntington Beach, CA 92647</a>
                </li>
            </ul>
        </div>
        <div class="store-hours">
            <h4>Store Hours</h4>
            <ul>
                <li>
                    <span>Monday</span>
                    <span>CLOSED</span>
                </li>
                <li>
                    <span>Tue - Sun:</span>
                    <span>11am - 7pm</span>
                </li>
                <!-- <li>
                    <span>Tue - Fri:</span>
                    <span>11am - 7pm</span>
                </li>
                <li>
                    <span>Sat - Sun:</span>
                    <span>10am - 7pm</span>
                </li> -->
            </ul>
        </div>

    </div>
    <p class="wrapper">Copyright &copy; <span id="footer-year"></span> Bani's Art Haus All Rights Reserved.</p>
</footer>

<style>
    footer{
        background-color: var(--dark-plum);
        padding: 2rem;
        /* color: var(--cream); */
        color: #fff;
    }
    .footer-container .footer-logo{
        display: block;
        width: 250px;
    }
    /* .footer-container .footer-logo img{object-fit: contain;} */
    .footer-container{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem 1.5rem;
    }
    .footer-container a, .footer-container ul li{
        color: #fff;
        text-decoration: none;
        list-style: none;
    }
    .footer-container a:hover{color: var(--dark-pink);}
    .footer-container ul li{margin-bottom: 7px;}
    .footer-container ul li:last-child{margin-bottom: 0;}
    .footer-container h4{margin-bottom: 12px;color: #fff;}
    .footer-container .store-hours ul{
        max-width: 250px;
        min-width: 190px;
    }
    .footer-container .store-hours ul li{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .footer-social{margin-top: 2.25rem;}
    .footer-social ul li{
        display: inline-block;
        margin-right: 1rem;
        margin-bottom: 0;
    }
    .footer-social ul li a{font-size: 1.25rem;}
    .footer-social ul li:last-child{margin-right: 0;}
    footer p{
        text-align: center;
        color: #fff;
        margin-top: 2rem;
    }

    @media screen and (max-width: 750px){
        .footer-container{gap: 2rem 1.5rem;}
		.footer-container .footer-logo{width: 100%;}
        .footer-container .footer-logo img{
            width: 250px;
            margin: 0 auto;
        }
	}
</style>

<script>
    let currentDay = new Date();
    let year = currentDay.getFullYear();
    let footerYear = document.getElementById('footer-year');

    function updateYear() {
        if(footerYear != null){
            footerYear.innerText = year.toString();
        }
    }
    updateYear();
</script>