---
    import logo from '../assets/images/BanisArtHaus-logo.png';
---

<header class="header">
    <div class="wrapper header-wrapper">
        <a href="/" class="logo">
            <img class="pics" src={logo.src} alt="Bani's Art Haus logo">
        </a>
    
        <nav class="nav">
            <a href="#about">About</a>
            <a href="#">Services</a>
            <a href="#contact">Contact</a>
        </nav>
    
        <!-- <a href="#" class="btn-contact pink-cta">Contact</a> -->
    </div>


</header>

<style>
    header{
        padding: 1.5rem 0;
        background-color: #fff;
    }
    .header-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo{
        display: block;
        width: 220px;
    }
    .nav{
        max-width: 400px;
        display: flex;
        gap: 1.25rem;
    }
    .nav a{
        text-decoration: none;
        color: var(--dark-plum);
        text-transform: uppercase;
        letter-spacing: .05rem;
    }
    .btn-contact{
        background: var(--dark-pink);
        padding: 16px 28px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: .05rem;
    }
    .btn-contact::after{content: 'CONTACT';}

    @media screen and (max-width: 680px){
        .header-wrapper{
            flex-direction: column;
            gap: 2rem 0;
        }
    }


</style>