---
import logo from '../assets/images/BanisArtHaus-logo.png';
---

<header class="header">

    <figure class="logo">
        <img class="pics" src={logo.src} alt="Bani's Art Haus logo">
    </figure>

    <nav class="nav">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Contact Us</a>
    </nav>

    <a href="#" class="btn-contact">
        Contact
    </a>

</header>