---
	import "../styles/global-styles.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/banisarthaus_favicon.png" />
		<meta name="generator" content={Astro.generator} />


		<title>Bani's Art Haus | Ceramic painting in Huntington Beach, Ca</title>
		<link rel="canonical" href="https://banisarthaus.com/">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://banisarthaus.com/">
		<meta property="og:title" content="Bani's Art Haus | Ceramic painting in Huntington Beach, Ca">
		<meta property="og:description" content="Looking for pottery painting in Huntington Beach? Visit Bani's Art Haus to paint mugs, plates, figurines, and more in a welcoming creative studio." >

		<meta name="description" content="Looking for pottery painting in Huntington Beach? Visit Bani's Art Haus to paint mugs, plates, figurines, and more in a welcoming creative studio." >
		<meta name="keywords" content="ceramic painting, pottery painting, paint your own pottery, paint your own ceramics, pottery studio, ceramic art studio, pottery painting near me, ceramic painting classes, creative studio, family activities, date night ideas, birthday party venue, kids activities, art studio, pottery decorating, hand painted ceramics, ceramic workshop, pottery workshop">


		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap" rel="stylesheet"> -->

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Gloock&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap" rel="stylesheet">

	</head>
	<body>
		<slot />
	</body>
</html>